name: V8 Build

on:
    push:
        branches:
            - 'ci-build-v8' # remove once working
#on: repository_dispatch
              
jobs:
    build:
        name: Build V8 for ${{ matrix.platform }}
        strategy:
            matrix:
                platform: [ubuntu-latest, macos-latest]
        runs-on: ${{ matrix.platform }}

        steps:
            - name: Checkout
              uses: actions/checkout@v1
              with:
                  submodules: true
                  fetch-depth: 1
            - name: Build V8
              run: cd deps && ./build.py
            - name: Install Python3 setup tools
              if:  matrix.platform == 'ubuntu-latest'
              run: sudo apt-get install python3-setuptools
            - name: Create PR
              run: |
                  pip3 install --requirement ./.github/scripts/requirements.txt
                  ./.github/scripts/create-pull-request.py
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                PULL_REQUEST_BRANCH: v8-lib
                COMMIT_MESSAGE: Update V8 static library for ${{ matrix.platform  }}
                PULL_REQUEST_TITLE: V8 static library for ${{ matrix.platform  }}
                PULL_REQUEST_BODY: Auto-generated pull request via GitHub Action
 
