name: V8 Build

on: workflow_dispatch
              
jobs:
    build:
        name: Build V8 for ${{ matrix.platform }}
        strategy:
            matrix:
                platform: [ubuntu-18.04, macos-latest, windows-latest]
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  submodules: true
                  fetch-depth: 1
            - name: Update depot_tools fetch config
              run: cd deps/depot_tools && git config --unset-all remote.origin.fetch; git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
              shell: bash
            - name: Build V8 linux
              if: matrix.platform == 'ubuntu-latest'
              run: cd deps && ./build.py --no-clang
            - name: Build V8 macOS
              if: matrix.platform == 'macos-latest'
              run: cd deps && ./build.py
            - name: Add MSYS2 to PATH
              if: matrix.platform == 'windows-latest'
              run: echo "C:\msys64\mingw64\bin" >> $GITHUB_PATH
              shell: bash
            - name: Build V8 windows
              if: matrix.platform == 'windows-latest'
              run: cd deps; python build.py --no-clang
              env:
                MSYSTEM: MINGW64
                DEPOT_TOOLS_WIN_TOOLCHAIN: 0
            - name: Create PR
              uses: peter-evans/create-pull-request@v3
              with:
                commit-message: Update V8 static library for ${{ matrix.platform  }}
                branch: v8-lib
                branch-suffix: random
                delete-branch: true
                title: V8 static library for ${{ matrix.platform  }}
                body: Auto-generated pull request to build V8 for ${{ matrix.platform  }}

