name: V8 Build

#on: repository_dispatch
on: push

jobs:
    build:
        name: Build V8 for ${{ matrix.platform }}
        strategy:
            matrix:
                #platform: [ubuntu-latest, macos-latest]
                platform: [windows-latest]
        runs-on: ${{ matrix.platform }}
        steps:
            - name: Checkout
              uses: actions/checkout@v1
              with:
                  submodules: true
                  fetch-depth: 1
            - name: Build V8
              run: cd deps && pip uninstall virtualenv && C:/hostedtoolcache/windows/Python/2.7.16/x64/python build.py
            - name: Install Python3 setup tools
              if:  matrix.platform == 'ubuntu-latest'
              run: sudo apt-get install python3-setuptools
            - name: Create PR
              shell: bash
              run: |
                  pip3 install --requirement ./.github/scripts/requirements.txt
                  ./.github/scripts/create-pull-request.py
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                PULL_REQUEST_BRANCH: v8-lib
                COMMIT_MESSAGE: Update V8 static library for ${{ matrix.platform  }}
                PULL_REQUEST_TITLE: V8 static library for ${{ matrix.platform  }}
                PULL_REQUEST_BODY: Auto-generated pull request to build V8 for ${{ matrix.platform  }}
 
